dem0adf001/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dem0adf001"
		},
		"AzureBatchStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBatchStorage'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"MongoDbAtlas_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MongoDbAtlas'"
		},
		"aws_sftp_privateKeyContent": {
			"type": "secureString",
			"metadata": "Secure string for 'privateKeyContent' of 'aws_sftp'"
		},
		"aws_sftp_passPhrase": {
			"type": "secureString",
			"metadata": "Secure string for 'passPhrase' of 'aws_sftp'"
		},
		"flightls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'flightls'"
		},
		"landingzls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'landingzls'"
		},
		"lnkadls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'lnkadls'"
		},
		"AKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://demokv07142021.vault.azure.net/"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://demo343.vault.azure.net/"
		},
		"GoogleAnalytics_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://analyticsreporting.googleapis.com"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.schiphol.nl/public-flights/flights"
		},
		"MongoDbAtlas_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sample_airbnb"
		},
		"aws_sftp_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "ec2-18-208-225-129.compute-1.amazonaws.com"
		},
		"aws_sftp_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ec2-user"
		},
		"landingzls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://demo343.dfs.core.windows.net"
		},
		"lnkadls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://demo343.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/jenkins_trigger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trigger jenking build",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://jenkinstrigger.azurewebsites.net/api/jenkinstrigger",
							"method": "POST",
							"headers": {},
							"body": {
								"name": "admin",
								"pwd": "password",
								"job": "test_job"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"test": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-27T11:09:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AKV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatchStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBatchStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-6254008276805466.6.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "10.0.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GoogleAnalytics')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GoogleAnalytics_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Accept": {
							"type": "SecureString",
							"value": "**********"
						},
						"app_id": {
							"type": "SecureString",
							"value": "**********"
						},
						"app_key": {
							"type": "SecureString",
							"value": "**********"
						},
						"ResourceVersion": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoDbAtlas')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MongoDbAtlas",
				"typeProperties": {
					"connectionString": "[parameters('MongoDbAtlas_connectionString')]",
					"database": "[parameters('MongoDbAtlas_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adbls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3851988629356549.9.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/ac90002c-698e-4529-95d3-48e20a731732/resourceGroups/demorg/providers/Microsoft.Databricks/workspaces/demoadb",
					"existingClusterId": "1227-172259-99t4u5qi"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/aws_sftp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('aws_sftp_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "SshPublicKey",
					"userName": "[parameters('aws_sftp_properties_typeProperties_userName')]",
					"privateKeyContent": {
						"type": "SecureString",
						"value": "[parameters('aws_sftp_privateKeyContent')]"
					},
					"passPhrase": {
						"type": "SecureString",
						"value": "[parameters('aws_sftp_passPhrase')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/flightls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('flightls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/landingzls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('landingzls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('landingzls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnkadls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('lnkadls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('lnkadls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "SelfHostedIR",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adb_poc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Code/AdventureWorks/ADB/Auto Loader"
						},
						"linkedServiceName": {
							"referenceName": "adbls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-11T18:11:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adbls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adbdemo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/anmajum@live.com/demo"
						},
						"linkedServiceName": {
							"referenceName": "adbls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-27T11:09:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adbls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/start_adb_cluster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "start_cluster",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "set_adb_pat",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.strtclurl",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "SelfHostedIR",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ',variables('adbpat'))",
									"type": "Expression"
								}
							},
							"body": {
								"value": "@pipeline().parameters.jobid",
								"type": "Expression"
							},
							"linkedServices": [
								{
									"referenceName": "AzureKeyVault",
									"type": "LinkedServiceReference"
								}
							]
						}
					},
					{
						"name": "get_adb_pat",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.getpaturl",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "SelfHostedIR",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "set_adb_pat",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get_adb_pat",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "adbpat",
							"value": {
								"value": "@activity('get_adb_pat').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"strtclurl": {
						"type": "string",
						"defaultValue": "https://adb-2244279309690738.18.azuredatabricks.net/api/2.1/jobs/run-now"
					},
					"getpaturl": {
						"type": "string",
						"defaultValue": "https://demo343.vault.azure.net/secrets/adbpat/cc27554c9922453a8798ed3af8fb5891?api-version=7.0"
					},
					"jobid": {
						"type": "string",
						"defaultValue": {
							"job_id": 85
						}
					}
				},
				"variables": {
					"adbpat": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-27T11:09:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MDbCollection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MongoDbAtlas",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MongoDbAtlasCollection",
				"schema": [],
				"typeProperties": {
					"collection": "listingsAndReviews"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MongoDbAtlas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoDBData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnkadls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "MongoDB",
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"surveyId": {
							"type": "string"
						},
						"surveyName": {
							"type": "string"
						},
						"Questions": {
							"type": "object",
							"properties": {
								"QID101": {
									"type": "object",
									"properties": {
										"QuestionID": {
											"type": "string"
										},
										"QuestionText": {
											"type": "string"
										},
										"QuestionType": {
											"type": "string"
										}
									}
								},
								"QID99": {
									"type": "object",
									"properties": {
										"QuestionID": {
											"type": "string"
										},
										"QuestionText": {
											"type": "string"
										},
										"QuestionType": {
											"type": "string"
										}
									}
								},
								"QID150": {
									"type": "object",
									"properties": {
										"QuestionID": {
											"type": "string"
										},
										"QuestionText": {
											"type": "string"
										},
										"QuestionType": {
											"type": "string"
										}
									}
								}
							}
						},
						"commitInfo": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "integer"
								},
								"userId": {
									"type": "string"
								},
								"userName": {
									"type": "string"
								},
								"operation": {
									"type": "string"
								},
								"operationParameters": {
									"type": "object",
									"properties": {
										"mode": {
											"type": "string"
										},
										"partitionBy": {
											"type": "string"
										}
									}
								},
								"notebook": {
									"type": "object",
									"properties": {
										"notebookId": {
											"type": "string"
										}
									}
								},
								"clusterId": {
									"type": "string"
								},
								"isolationLevel": {
									"type": "string"
								},
								"isBlindAppend": {
									"type": "boolean"
								},
								"operationMetrics": {
									"type": "object",
									"properties": {
										"numFiles": {
											"type": "string"
										},
										"numOutputBytes": {
											"type": "string"
										},
										"numOutputRows": {
											"type": "string"
										}
									}
								}
							}
						},
						"protocol": {
							"type": "object",
							"properties": {
								"minReaderVersion": {
									"type": "integer"
								},
								"minWriterVersion": {
									"type": "integer"
								}
							}
						},
						"metaData": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"format": {
									"type": "object",
									"properties": {
										"provider": {
											"type": "string"
										},
										"options": {
											"type": "object"
										}
									}
								},
								"schemaString": {
									"type": "string"
								},
								"partitionColumns": {
									"type": "array"
								},
								"configuration": {
									"type": "object"
								},
								"createdTime": {
									"type": "integer"
								}
							}
						},
						"add": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"modificationTime": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"stats": {
									"type": "string"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnkadls')]"
			]
		}
	]
}